extends layout

block layout-content
    .row
        .col-6
            a(href="/manageNotes/add/onenote").btn.btn-info Onenote
        .col-6
            a(href="/manageNotes/add/evernote").btn.btn-info Evernote

