extends layout

block layout-content
    .row
        .col-12.text-center
            h4.mx-auto.text-center Welcome back #{email}
    .row
        .col-12.text-center
            span To use our service you need to connect your account to Evernote or OneNote using the following link:
        .col-6.text-right
            if session.providerToken
                a.btn.btn-secondary Link account
            else
                a(href="/linkAccount").btn.btn-info Link account
        .col-6.text-left
            a(href="/manageNotes").btn.btn-info manage notes