extends layout

block layout-content
    .row
        if email
            .col-12
                a(href="/controlPanel").btn Control panel
        else
            .col-12.text-center
                span Welcome to NoteSync. Please login or signup to use our service!    
            .col-6.text-center
                a(href="/signup").btn Sign Up
            .col-6.text-center
                a(href="/login").btn Login