extends layout

block layout-content
    .row
        .col-12
            h2.mx-auto Link your account to evernote or onenote
        .col-6.text-center
            a(href=oneNoteLink) OneNote
        .col-6.text-center
            a(href=evernoteLink) Evernote