extends layout

block layout-content
    .row
        .col-12
            h3.mx-auto.text-center Link your account to evernote or onenote
        .col-6.text-center
            a(href=oneNoteLink).btn.btn-info OneNote
        .col-6.text-center
            a(href=evernoteLink).btn.btn-info Evernote