extends layout

block layout-content
    .row
        .col-12
            h4.mx-auto Manage Notes
            p You can access your note and syncronize them with whoever you want
        .col-12
            h5 My Notes
    .container-fluid
        .row
            each val in notes
                .col-6.col-md-3.bg-light.row.p-1.m-2
                    .col-12.mt-2.text-center
                        a(href="/manageNotes/"+val.id+"/view") #{val.title}
                    .col-4.my-3.text-center
                        button.shareNote.btn.btn-warning Share
                        span.d-none #{val.id}
                    .col-4.my-3.text-center
                        a(href="/manageNotes/"+val.id+"/delete").btn.btn-danger Delete
                    .col-4.my-3.text-center
                        if val.linkId
                            a(href="/manageNotes/"+val.id+"/sync?linkId="+val.linkId).btn.btn-success Sync
                        else
                            a(href="/manageNotes/"+val.id+"/export").btn.btn-success Export
                    .col-12.mb-3.text-center
                        a(href="/manageNotes/share/"+val.id) Manage shares
                    
                    
        .row(style="display:none")#shareNoteForm.mt-5
            .col-8
                form(action="/manageNotes/share" method="POST")
                    .form-group
                        label(for="email") Email
                        input(type="email" placeholder="Email to share with" name="email")#email.form-control
                    input(type="hidden" name="id" value="")#hiddenId
                    button(type="submit").btn.btn-primary Share Note

        .row.actions.mt-5
            .col-4
                button#addNote.btn.btn-info ADD generic note
            .col-4
                a(href="/manageNotes/add/external" ).btn.btn-info ADD external note
        .row(style="display:none")#addNoteForm.mt-5
            .col-12
                form(action="/manageNotes/add" method="POST")
                    .form-group
                        label(for="noteTitle") Note title
                        input(type="text" placeholder="Note title" name="title")#noteTitle.form-control
                    .form-group
                        label(for="noteContent") Note content
                        textarea(name="content")#noteContent.form-control
                    button(type="submit").btn.btn-primary Create
            .col-12
                button.btn.btn-info#generatePreview Update Preview
                h4 Preview
                iframe(srcdoc="")
    .container-fluid.mt-5
        .row
            h4 Shared with me
        .row
            each val in shared
                .col-3.bg-light.row.p-1.m-2
                    .col-12.mt-2.text-center
                        a(href="/manageNotes/"+val.id+"/view") #{val.title}
                    if val.linkId
                        .col-6.my-3.text-center
                            a(href="/manageNotes/"+val.id+"/delete/shares/"+val.shareId+"?linkId="+val.linkId).btn.btn-danger Remove
                    else
                        .col-6.my-3.text-center
                            a(href="/manageNotes/"+val.id+"/delete/shares/"+val.shareId).btn.btn-danger Remove
                    .col-6.my-3.text-center
                        if val.linkId
                            a(href="/manageNotes/"+val.id+"/sync?linkId="+val.linkId).btn.btn-success Sync
                        else
                            a(href="/manageNotes/"+val.id+"/export").btn.btn-success Export
                    

